
.navbar-nav a{
  align-self:center;
}

footer {
  background-color: whitesmoke;
}

.donate-count{
  position:absolute; bottom: 0; right: 0;
  margin: 0 0.5rem 0.5rem 0;
  padding:0.4rem;
  border-radius: 10px;
  background-color:#187BCD;
  font-weight: bold;
  color: whitesmoke;
}

.link-button{
  padding: 0.5rem;
  border: 1px solid #147C85;
  box-sizing: border-box;
  border-radius: 10px;
  align-self: center;
  color: #147C85;
}

.jumbotron {
  background-image: url('/img/coverProfile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0, -250px;
  border-radius: 0%;
  color: black;
  overflow: hidden;
  position: relative;
}

.profile-picture {
  width: 100px;
}

.w-35 {
    width: 35%;
}

#authForm {
    width: 100%;
    height: auto;
    padding: 12px 20px ;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #777777;
    border-radius: 10px;
}

#authFormFName, #authFormLName{
    float: left;
    width: 49%;
    height: auto;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #777777;
    border-radius: 10px;
}

#authFormLName{
    float: right;
}

.text-gray {
    color: #777777;
}

.text-blue {
    color: #2A9EF5;
}


.btn-blue {
    background-color: #2A9EF5;
    width: 100%;
    height: auto;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.btn-blue:hover {
    background-color: whitesmoke;
    color: #2A9EF5;
}

.round {
    border-radius: 10px;
}
