.navbar-nav a{
  align-self:center;
}

footer {
  background-color: whitesmoke;
}

.donate-count{
  position:absolute; bottom: 0; right: 0;
  margin: 0 0.5rem 0.5rem 0;
  padding:0.4rem;
  border-radius: 10px;
  background-color:#187BCD;
  font-weight: bold;
  color: whitesmoke;
}

.link-button{
  padding: 0.5rem;
  border: 1px solid #147C85;
  box-sizing: border-box;
  border-radius: 10px;
  align-self: center;
  color: #147C85;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0, -250px;
  border-radius: 0%;
  color: black;
  overflow: hidden;
  position: relative;
}

.profile-picture {
  width: 100px;
}

.close-event{
  background-color: #E15858;
  color: white;
  width: 350px;
}

.petition-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.7;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.image-detail-petition {
  width: 100%;
}

.petition-detail-description {
  text-align: justify;
  text-indent: 50px;
  line-height: 1.5;
}

.message-notification {
  transition: 2s;
}
